body {
    min-width: 400px;
    margin: 0;
}
.navbar {
    padding: 10px;
}
main {
    padding: 10px;
}
.navbar {
    display: flex;
    background-color: #f8f9fa;
    padding: 5px;
    border-bottom: 1px solid #dee2e6;
}
.nav-container {
    display: flex;
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #545454 ;
    background-color: #9d9d9d;
    cursor: pointer;
}

.nav-link {
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: underline;
}

h1 {
    font-size: 18px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}
input {
    border: 1px solid #ccc;
    padding: 4px;
    font-size: 14px;
    margin-bottom: 10px;
    border-radius: 4px;
}
button {
    width: 100px;
    margin-top: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}
.message {
    margin-top: 10px;
    font-size: 14px;
}
#error {
    color: red;
}

.show {
    display: block;
}

.hide {
    display: none;
}